<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Project Detail</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="static/js/project.js"></script>
</head>
</body>
    <h2>Hackaday.io Project Detail</h2>
    <div class="supplyframe-grid"></div>
<body>

<script type="text/javascript">

(function() {
    initial();
}());

function initial() {
    var project = new Project({
        projectData: apiData
    });
}

</script>
</html>
